:root {
--weiß: #fff;
  --grau: #3d4856;
  --rot: #ac473e;
  --selection-color: #00a08e;
  --navbar-höhe: 55px;
  /* --nav-bar-farbe:var(--bs-dark-bg-subtle); */
  --nav-bar-farbe:var(--third-color);
  --boxen-farbe: var(--bs-secondary-bg);
  --seitentitel-farbe: var(--bs-secondary-bg);
  --bg-primary: #00ff00 !important;
  --accent-color: #107C7C;
  --third-color: #234E5A;
}

body {
  background-color: var(--blau);
  height: 100%;
  padding-top: var(--navbar-höhe);
  background-color: #edeff2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  line-height: 20px;
  scroll-behavior: smooth;
}

.progress-bar,
.nav-pills .nav-link.active,
.btn,
.language-toggle {
  background-color: var(--accent-color) !important;
  --bs-btn-border-color: var(--accent-color) !important;
}

.lighter-white {
  background-color: #9dadbca1;
}

.contact-farbe {
  background-color: hsl(59, 80%, 71%);
}


.tab-pane,
.backbox,
.boxen,
.seiteninhalte,
.fill,
.hero-heading,
.hero-subheading {
  border-radius: 32px;
}

.nav-bar-mobile {
  position: sticky;
  text-indent: 20px;
  top: 0px;
  padding: 0%;
  margin-top: 0px;
  height: 50px;
  background-color: #6c7888;
  width: 100vw;
  vertical-align: baseline;
  z-index: 999;
}

a:any-link {
  text-decoration-line: none;
}

.left-navigation,
.banner {
  background-color: var(--nav-bar-farbe);
}


.left-navigation {
  position: fixed;
  top: 0;
  height: var(--navbar-höhe);
  width: 100%;
  z-index: 999;
}

.content-nav {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: clamp(1000px, 90%, 1200px);
  transform: translate(-50%, -50%);
}


.nav-link {
  padding: 5px 10px !important;
  margin: 20px;
  text-align: center;
  text-transform: none;
  scroll-behavior: smooth;
}

.nav-link:active {
  background-color: var(--bs-emphasis-color) !important;
  font-weight: inherit;
}


.nav-link:hover {
  color: var(--bs-emphasis-color) !important;
}

.title {
  display: block;
  margin-bottom: 50px;
  float: none;
  text-align: center;
}

.name {
  margin-top: 0;
  margin-bottom: 0;
  color: #edeff2;
  font-size: 30px;
  line-height: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: none;
}

.banner,
.seite {
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  overflow: hidden;
}

.banner {
  min-height: calc(100vh - var(--navbar-höhe));
  background-image: url(https://www.xn--zgncakir-m4a6d.de/media/hintergrund.webp);
  background-position: 100% 100%;
  background-size: 750px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  height: 100%;
  margin-left: auto;
}

.hero-title-wrapper {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hero-heading,
.hero-subheading {
  color: var(--weiß);
  padding: 15px;
}

.hero-heading {
  font-size: 38px;
  font: 600;
  margin-top: 40px;
}

.hero-subheading {
  margin: 20px 60px 25px 60px;
  font-size: 22px;
  line-height: 125%;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: none;
  max-width: 900px;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  color: #f5f5f5;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  color: var(--blau);
}

h3 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 800;
  text-transform: none;
  text-align: center;
}

h4 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

h5 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

.contact-title {
  font-size: 1.25rem;
  margin-top: 0 !important;
  margin-bottom: 10px !important;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  margin: auto;
}

.logo-section {
  margin-top: 40px;
}

.content {
  height: 100%;
  margin-left: auto;
}

.button {
  display: inline-block;
  padding: 12px 12px;
  border-radius: 16px;
  background-color: var(--grau);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  color: var(--blau-2);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.seitentitel {
  padding: 20px;
  text-align: center;
  background-color: var(--seitentitel-farbe);
  background-color: var(--bs-tertiary-bg);
  color: var(--third-color);
  border-radius: 24px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  margin: 40px auto 25px;
}

.bi {
  margin-right: 5px;
}

::selection {
  background: var(--selection-color);
  color: var(--weiß);
}

::-moz-selection {
  background: #cc85aa;
  color: var(--weiß);
}

.tab-pane {
  height: 100%;
  transition: background-color 2s ease-out 0.1s;
}

.progress-title {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  letter-spacing: 2px;
  margin: 0 0 15px;
}

.progress {
  margin: 10px 15px 10px 0;
  box-shadow: none;
  overflow: visible;
  position: relative;
  background-color: var(--bs-tertiary-bg) !important;
}

.progress .progress-bar {
  box-shadow: none;
  border-radius: 0;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .progress-animation {
    animation: 2s linear 0s normal none infinite running progress-bar-stripes,
      animate-positive 3s;
    -webkit-animation: 2s linear 0s normal none infinite running
        progress-bar-stripes,
      animate-positive 3s;
  }
}

.progress .progress-bar:after,
.progress:after {
  content: "";
  border-left: 13px solid rgba(0, 0, 0, 0.1);
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  position: absolute;
  top: 0;
  right: -13px;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}

@keyframes animate-positive {
  0% {
    width: 0;
  }
}

@keyframes cambio {
  from {
    margin-left: 0;
  }

  to {
    margin-left: -100%;
  }
}

.backbox {
  max-width: 1300px;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.foot {
  text-align: center;
  padding: 20px;
  font-size: small;
}

.boxen {
  padding: 25px;
  margin-bottom: 20px;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--boxen-farbe);
}

.seiteninhalte {
  padding-bottom: 30px;
  height: auto;
  width: auto;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 20px 0;
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.institution-logo {
  margin-bottom: 10px;
  max-width: 50vw;
}

.accordion {
  margin-top: 10px;
}

.accordion-body {
  text-align: left;
  font-size: 16px;
}

.hvr-forward,
.hvr-shrink {
  width: 100%;
}

.btn-group {
  margin-top: 25px;
  width: 100%;
  color: var(--weiß);
}

.language-toggle {
  border-radius: 0.75rem;
  margin: 0px 5px;
  padding: 8px 12px;
  --bs-btn-border-width: 0px;
  border: 0;
  color: var(--bs-emphasis-color);
  background-color: var(--bs-tertiary-bg) !important;
  text-align: center;
  width: 100%;
}

.language-toggle:hover {
  background-color: var(--third-color);
  color: var(--weiß);
}

.language-toggle:active {
  font-weight: 600;
}

.btn-check + .btn {
  color: var(--weiß);
}

.language-switch {
  margin-top: 25px;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 0%;
  width: 90%;
  transform: translate(-50%, -50%);
}

.bottom {
  margin-bottom: 0px;
}

.vordergrund-farbe {
  background-color: #00507b4b;
}

.light-white {
  background-color: #ffffffa1;
}

.white {
  background-color: #f0fdec;
}

.seitentitel-farbe {
  background-color: #00507b4b;

}

.full-width {
  width: 100% !important;
}

.subtitle {
  margin-bottom: 8px;
}

.pro-green {
  background-color: #007b5774;
}

.con-red {
  background-color: #ac473e74;
}

#selfDestruction {
  background-color: var(--rot);
  color: var(--weiß);
}

#selfDestruction:hover {
  background-color: #000;
}

.transparent {
  background-color: #ffffff1e;
  color: var(--weiß);
}

.white-text {
  color: var(--weiß);
}





.arbeitsvertrag {
  cursor: not-allowed;
}

.dark-link:any-link {
  color: #212529;
}

.white {
  background-color: var(--weiß);
}

.white-font {
  color: #fff;
}

.white-font {
  color: var(--grau);
}

.popup {
  margin-left: calc(var(--leisten-breite) / 2);
  margin-top: calc(100vh - height);
}

.transparent-boxen {
  padding: 0px;
  margin-left: 20px;
}

.clickable {
  cursor: pointer;
}

.image {
  border-radius: 50% !important;
  /* border: 3px solid var(--bs-tertiary-bg); */
  aspect-ratio: 1;
  /* animation: morph 12s infinite; */
}

.banner,
.left-navigation {
  background-color: var(--accent-color);
}	


.progress-bar,
.nav-pills .nav-link.active,
.nav-link:hover,
.btn,
.hero-heading,
.hero-subheading,
.image {
  background-color: var(--third-color) !important;
}


@media (prefers-color-scheme: dark) {
  .banner,
  .left-navigation {
    background-color: var(--third-color) !important;
  }
  .image,
  .hero-heading,
  .progress-bar,
  .nav-pills .nav-link.active,
  .btn {
    background-color: var(--accent-color) !important;
  }
  .progress-bar,
  .nav-pills .nav-link.active,
  .btn {
  --bs-btn-border-color: var(--third-color) !important;
  }
  .seitentitel {
    color: #fff;
  }
  .nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
    color: #fff !important;
  }
}



@keyframes morph {
    0% { background-color: var(--hintergrund-1); }
    10% { background-color: var(--hintergrund-2); }
    20% { background-color: var(--hintergrund-3); }
    30% { background-color: var(--hintergrund-4); }
    40% { background-color: var(--hintergrund-5); }
    50% { background-color: var(--hintergrund-6); }
    60% { background-color: var(--hintergrund-5); }
    70% { background-color: var(--hintergrund-4); }
    80% { background-color: var(--hintergrund-5); }
    90% { background-color: var(--hintergrund-2); }
    100% { background-color: var(--hintergrund-1); }
  }

.picture-inline {
  margin-right: 15px;
}


.contact-title {
  color: var(--grau) !important;
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px !important;
}



@media (max-width:1440px) and (min-width:1250px) {
  .seitentitel,
  .seiteninhalte {
    max-width: 1100px;
  }
}

@media (max-width:1250px) {
  .navbar .nav-link {
    display: none;
    visibility: collapse;
    width: 0;
  }

  .hero-subheading {
    margin: 20px 10px 25px 10px;
  }

  .hero-heading {
    background-color: #394855ba;
    padding: 5px;
  }

  .badge,
  .title-job {
    text-align: center !important;
    display: block !important;
  }

  body {
    padding-left: 0 !important;
    margin: 0;
    color: var(--blau-2);
    background-color: var(--blau-2);
  }

  .boxen {
    width: 100%;
  }

  .seiteninhalte {
    padding: 15px 15px 0;
    margin-bottom: 30px;
  }

  .seitentitel {
    margin: 40px 15px 25px;
  }
}

@media (max-width:1000px) {
  .boxen {
    margin-block: 10px;
  }
  .bottom-mobile {
    margin-bottom: 0;
  }
  .banner {
    min-height: calc(100vh - var(--navbar-höhe));
    background-image: url(https://www.xn--zgncakir-m4a6d.de/media/hintergrund.webp);
    background-position: 0% 0%;
    /* background-size: 750px; */
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .institution {
    text-align: center;
  }

  .badge {
    width: 78px;
    margin: auto;
  }
}


.badge {
  text-align: center !important;
  background-color: var(--bs-secondary-color) !important;
}



:root,[data-bs-theme=light]{
  --primary-color-light:#0d6efd;
}
[data-bs-theme=dark]{
  color-scheme:dark;
  --primary-color-light:#adb5bd;
}



.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
  /* background-color: var(--third-color); */
  color: #000;
  border-radius: 12px;
}


.certificate-pill {
  margin: 0px !important;
  margin-inline: 15px;
}
.certificate-pill:hover {
  background-color: var(--bs-tertiary-bg) !important;
}
.certificate-pill.active {
  background-color: #004f7a !important;
}

.certificate-pills {
  margin-bottom: 0;
}

.nav-link:hover.active {
  color: var(--bs-secondary-bg) !important;
}


#selfDestruction {
  background-color: var(--rot) !important;
  --bs-btn-border-color: var(--rot) !important;
}

#selfDestruction:hover {
  background-color: #000 !important;
}


.custom-list li {
  display: flex;
  align-items: center;
}

.custom-list li svg {
  margin-right: 10px !important;
}

.custom-list li br + svg {
  height: 32px !important;
  width: 32px !important;
}

.custom-list li br + .bi {
  height: 32px !important;
  width: 32px !important;
}